*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: peru;
}

.container{
    background-color: bisque;
    border-radius: 80px;
  box-shadow: 5px 10px 5px rgb(120, 108, 108);

}
.head{
    padding: 30px;
    /* border: 2px solid palegoldenrod; */

}

.entry {
      margin: 20px;
      text-align: center;
}

.entry input{
    width: 300px;
    height:60px;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    border: 4px solid rgb(229, 169, 109);
}

/* CSS */
#btn {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

#btn:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

#guesses{
    margin-top: 20px;
}